<html>
  <head>
    <title><%= @title %></title>
    <style>
      body { margin: 40px; font: 20px helvetica;}
      #nav { margin: 16px; font: 16px helvetica;}
      .username { font-weight: bold; color:blue;}
      .tweet { }
      .timestamp { font-style: italic; font-size: 85%; color: gray;}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
  
  <div id="nav">Empty NAV
	</div>
</html>