
<p>I'm not really sure what should go here. Perhaps a form which asks for a Twitter username, and then redirects the site to load info about that username in the form of <a href="/strabd">saroyan.heroku.com/strabd</a>.</p>